body {
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

section{
    padding: 50px 0;
}

header{
     background-color: white;
     font-size: 18px;
}

header.container{
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    position: absolute;
    top: 40px;
    right:0;
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding:0;
}

header a{
    text-decoration: none;
    color: #6b7280;
    margin-right: 20px;
}

header a:hover{
    color:#5A67D8;
}

.overview-hero {
    background-color: #E2E8F0; 
    width: 100%;
    padding: 40px 0; 
}

.overview-hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; 
    padding-left: 50px;
    gap: 30px;
}

.overview-hero-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
}

.overview-hero-text {
    flex: 1;
    
}

.learn-about h2{
    text-align: center;
    color: #48bb78;
    font-size: 24px;
    border-radius: 5px;
}

.testing{
    background-color: #4A5568;
    color:white;
}

.testing .cta .btn{
   background-color: #48bb78;
   border-radius: 5px;
   color:white;
   text-decoration: none;
   float:right;
   text-align: center;

}

.cards{
    display: grid;
    border-radius: 5px;
    border:#E2E8F0;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
    margin-top: 40px;
}

.card{
    padding: 20px;
    border-radius: 5px;
    box-shadow: #4A5568;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card h3{
    color:#48bb78;
    font-size: 21px;
}

.newsletter{
    background: #48bb78;
    color: white;
    text-align: center;
}

.newsletter button{
    background: #5A67D8;
    border:none;

}

.stories {
    padding: 40px 0;
}

.stories h2 {
    color: #5A67D8; 
    font-size: 24px;
    margin-bottom: 30px;
}

.stories article {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}

.stories article img {
    width: 150px;
    height: 150px;
    object-fit: cover;  
    border-radius: 50%;   
}

.stories .article-body {
    flex: 1;
}

.stories .article-body h3 {
    font-size: 18px;     
    margin-top: 0;
    margin-bottom: 10px;
}

.stories .article-body a {
    color: #5A67D8;      
    text-decoration: none;
}

.stories .article-body a:hover {
    text-decoration: underline;
}


footer{
    background-color: #4A5568;
    color:white;
    text-align: center;
}